[submodule "vendor/gocui"]
	path = vendor/gocui
	url = https://github.com/hazbo/gocui.git
[submodule "vendor/termbox-go"]
	path = vendor/termbox-go
	url = https://github.com/hazbo/termbox-go.git
[submodule "vendor/otto"]
	path = vendor/otto
	url = https://github.com/hazbo/otto.git
